
/*
---------------------------------------------
 basic styles
---------------------------------------------
*/

/*
html selector
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

*{
	margin:0px;
	padding:0px;
}

body{
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	height:auto;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: #f3f3f3;
}
a{
	text-decoration:none;
}

ul{
	list-style:none;
}

img{
	max-width: 100%;
	height: auto;
}

header{
	height: 60px;
}

nav{
	position: relative;
	top: 10px;
	background-color: #233247;
	height: 42px;
}

figure{
	padding: 10px;
	margin-left: 20px;
}

/*--
background-color: #002145;
#eeede9
#00b4cd;

--*/

nav ul{
	text-align:center;
	letter-spacing: 1px;
	color: #000;
	font-size:13px;
	padding: 12px 15px 15px;
}

nav ul li{
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	display: inline;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	padding: 0 25px;
}

nav ul a:hover{
	color: #4fff9c;
	font-weight: 600;

}

nav ul a{
	color: #fff;
}
figure{
	padding: 10px;
}
section{
	height: 950px;
	background-image: url("../images/intro_background_06.jpg");
	background-repeat: no-repeat;
	margin-bottom:30px;
}
footer{
	height: 40px;
	background-color: #444;
	margin-top: 30px;
}
footer p{
	text-align: right;
	padding: 10px;
}
p[class="team_title"]:hover{

 text-decoration: none;
	color:#6875A6;
	text-shadow: 2px 2px 5px red;
	border:dashed 1px #6875A6;

}




/*-------------------
Id selector
-------------------*/

#wrapper{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	background-color: #fff;
	color: #fff;
}
#header_bar{
	position:fixed;
	top: 0;
	width: 1024px;
	height: 100px;
	z-index: 10001;
	display: inline-block;
	background-color: #fff;
}

#about_project{
	position: relative;
	top: 160px;
	margin-left: 30px;
	text-align: center;
}



#contents_intro{
	display: block;
	height: 700px;
	margin-top: 133px;
	background-color: #fff;
	color: #000;
	padding: 10px 230px;
	background-color: #fff;
}

#team_intro{
	text-align: center;
	background-color: #7FDBFF;
}
#team_intro img{
	padding-top: 20px;
	padding-left: 20px;
	opacity:0.7;
}
#team_intro img:hover{
	opacity:1;
}
#contents_intro ul{
	line-height: 1.5;
}
/*-------------------
class selector
-------------------*/

.title{
	font-size: 1.25em;
	line-height: 3;

}
.sub_title{
	color: #4fff9c;
	font-size: 2.6em;
	line-height: 1.15;
	padding-bottom: 25px;
}
/* font-family: 'Domine', serif;
*/
.description{
	line-height: 1.4;
	padding-bottom: 15px;
	font-family: 'Domine', serif;
	color: #777;
	line-height: 1.75;
}
.link{
	text-transform: uppercase;
	padding: 2px 3px 3px 3px;
	color: #fff;
	margin-left: 5px;
	letter-spacing: 1.2px;
}
.cotents_button{
	margin-top: 20px;
	padding: 16px 14px 10px 14px;
	border-radius: 35px;
	border:none;
	font-size:10px;
	font-weight: bolder;
	background-color: #fff;
	opacity:0.7;
}
.team_title, .team_intro{
	color: #333;
}
.team_title{
	background-color:#000000;
	height: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 8px;
	color: white;
	opacity: 0.6;
	text-align: center;
}
.team_intro{
	text-align: left;
	padding: 0 30px;
}
.member{
	width: 20%;
	float: left;
	padding: 10px 10px 10px 30px;
	text-align: left;
}

/*
This will apply only rational page
*/
#contents_div{
	display: block;
	width: 1024px;
	margin-top: 133px;
	background-color: #fff;
	padding-top: 10px;
	color: #000;
	background-color: #fff;
}
#contents_rationale{
	width: 1024px;
	height: 1900px;
	margin-top: 100px;
}
.team_rationale{
	font-family: 'Domine', serif;
	font-size: 20px;
	font-style: italic;
	padding: 10px 0;
	text-align: left;
}
.team_title{
	margin: 20px 300px;
}
.rationale_dec{
	font-size: 14px;
	line-height: 1.5;
}
.rationale_lists{
	padding: 10px 0 0 10px;
	margin: 0 50px 0 150px;
	text-align: left;
	list-style: square;
}
.description04{
	font-size: 14px;
	font-family: 'Domine', serif;
	line-height: 1.5;
	text-align: left;
	margin: 0 50px 0 150px;

}

.description05 {
	font-size: 19px;
	font-family: 'Domine', serif;
	line-height: 1.5;
	text-align: left;
	margin: 0 50px 0 150px;
	font-style:italic;
	text-decoration:none;

}


/*
This will apply only to the print
*/
@media print{
}

/*
---------------------------------------------------------
3 - media query rules for wide clients
*/
@media only screen and (min-width:800px){
	#fullscreen{		display:block;	}
	#thin{				display:none;	}
}






/*
---------------------------------------------------------
2 - media query rules for thin clients
*/
@media only screen and (min-width:100px) and (max-width:800px){
	#fullscreen{		display:none;	}
	#thin{				display:block;	}

	section img{
		max-width:100%;
	}
	div{max-width:100%}

	nav{
		overflow:hidden;}
	}





