
/*
---------------------------------------------
 basic styles 
---------------------------------------------
*/
@import url(href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css');

/*
html selector
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}

*{
	margin:0px;
	padding:0px;
}

body{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	width: 1024px;
	height:100%;
	font-family: 'Alegreya Sans', roboto, arial, sans-serif;
	font-size: 14px;
}
header{
	position:fixed;
	top:0px;
	float: left;
	background-color: #fff;
}

nav{
	position:fixed;
	top:0px;
	margin-left: 500px;
	background-color: #fff;
	text-align:right;
	padding-right: 20px;
}
header, nav{
	height: 50px;
	background-color: #fff;
	color: #000;
}

a{
	text-decoration:none;
}
ul{
	list-style:none;
}

header ul li, nav ul li{
	display: inline;
	margin-right: 20px;
}
header ul{
	position: fixed;
	top: 30px;
	text-align: left;
	letter-spacing: 1px;
}
nav ul{
	position: fixed;
	top: 30px;
	text-align: right;
	text-transform: uppercase;
	float: right;
}
figure{
	position: relative;
	top: 50px;
}
section{
	margin-top: 50px;
	
}

/*-------------------
Id selector
-------------------*/
#wrapper{
	width: 100%;
	height: 1000px;
	background-color: #fff;
	
}
#about_project{
	position: relative;
	top: 40px;
	margin-left: 40px;
}
#contents{
	margin-top: 50px;
	height: 95%;
	background-image: url("../images/intro_background_01.jpg");
	background-repeat: no-repeat;
}
#contents_link{
	position: relative;
	top: 60px;
	margin-left: 40px;
	border: 3px solid #2553a1;
	width: 130px;
	height: 33px;
}
#contents_link a{
	color: #2553a1;
	font-weight: 600;
}
#contents_link a:hover{
	color: #fff;
	background-color: #2553a1;
}
/*-------------------
class selector
-------------------*/
.title{
	font-size: 1.25em;
	line-height: 3;
	text-decoration: underline;
}
.sub_title{
	color: #2553a1;
	font-size: 3em;
	line-height: 1.15;
	padding-bottom: 10px;
}
.description{
	line-height: 1.5;
	padding-bottom: 20px;
}
.link{
	text-transform: uppercase;
	padding: 8px;
	color: #fff;
	margin-left: 10px;
}

/*
This will apply only to the print 
*/
@media print{
}